footer {
  width: 100%;
  height: 180px;
  background: #ccc;
  padding-top: 10px;
}

footer > p:nth-child(1) {
  text-align: center;
  color: #eee;
  font-size: 12px;
  margin: 20px 0;
}

footer > p:nth-child(1) > a {
  color: #999;
  padding: 0 10px;
}

footer > p:nth-child(1) > a:hover {
  color: red;
}

footer > p:nth-child(2) {
  font-size: 12px;
  text-align: center;
  color: #aaa;
}

footer > p:nth-child(2) > a {
  color: black;
}

footer > p:nth-child(2) > a:hover {
  color: red;
}

footer > p:nth-child(3) {
  font-size: 12px;
  text-align: center;
  color: #aaa;
}

footer > div {
  width: 600px;
  height: 40px;
  margin: 20px auto;
  font-size: 0;
}

footer > div > img {
  width: 108px;
  height: 40px;
  margin-right: 15px;
}

footer > div > img:nth-last-child(1) {
  margin-right: 0;
}
