@charset "UTF-8";
header {
  width: 100%;
  height: 33px;
  background: #444;
  color: #999;
  font-size: 12px;
  position: relative;
}

header > div {
  width: 1190px;
  height: 33px;
  margin: 0 auto;
  overflow: hidden;
  line-height: 33px;
}

header > div > ul {
  float: right;
  overflow: hidden;
}

header > div > ul li {
  float: left;
  height: 33px;
  line-height: 33px;
}

header > div > ul li a {
  color: #999;
}

header > div > ul li:nth-child(2) {
  margin: 0 48px;
}

header > div > ul li:nth-child(3) {
  background: #222;
  width: 138px;
  position: relative;
}

header > div > ul li:nth-child(3):hover > a {
  background: red;
  color: #fff;
}

header > div > ul li:nth-child(3):hover > a span {
  color: #fff;
}

header > div > ul li:nth-child(3):hover > a em {
  background-position: -164px -38px;
}

header > div > ul li:nth-child(3) a {
  display: block;
  width: 138px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  position: relative;
}

header > div > ul li:nth-child(3) a span {
  color: red;
}

header > div > ul li:nth-child(3) a em {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 20px;
  width: 20px;
  height: 14px;
  background-image: url(../../img/indexi.image/base.png);
  background-repeat: no-repeat;
  background-position: -164px -20px;
}

#menu-wrap {
  width: 100%;
  height: 104px;
  border-bottom: 3px solid red;
}

#menu-wrap > ul {
  width: 1190px;
  height: 101px;
  margin: 0 auto;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  z-index: 500;
}

#menu-wrap > ul > a {
  display: block;
  width: 58px;
  height: 22px;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  right: 50px;
  color: #333;
  background: #ccc;
}

#menu-wrap > ul > a:hover {
  color: red;
}

#menu-wrap > ul > li {
  float: left;
}

#menu-wrap > ul > li:nth-child(1) {
  width: 183px;
  height: 101px;
  background: #c20315;
}

#menu-wrap > ul > li:nth-child(1) > a {
  display: block;
  width: 183px;
  height: 101px;
  overflow: hidden;
}

#menu-wrap > ul > li:nth-child(1) > a > img {
  display: block;
  width: 120px;
  height: 41px;
  margin: 0 auto;
  margin-top: 29px;
}

#menu-wrap > ul > li:nth-child(2) {
  width: 160px;
  height: 101px;
  line-height: 101px;
  text-align: center;
}

#menu-wrap > ul > li:nth-child(2) > a {
  font-weight: 900;
  color: #4e4e4e;
  font-size: 28px;
}

#menu-wrap > ul > li:nth-child(3) {
  width: 175px;
  height: 101px;
  position: relative;
}

#menu-wrap > ul > li:nth-child(3) > a {
  width: 175px;
  height: 101px;
  text-indent: 40px;
  line-height: 101px;
  display: block;
  color: #474747;
  position: relative;
}

#menu-wrap > ul > li:nth-child(3) > a > em {
  display: block;
  width: 15px;
  height: 13px;
  background-image: url(../../img/indexi.image/base.png);
  background-repeat: no-repeat;
  background-position: -25px 0;
  position: absolute;
  left: 25px;
  top: 50%;
  margin-top: -7px;
}

#menu-wrap > ul > li:nth-child(3):hover {
  background-color: #ed0707;
}

#menu-wrap > ul > li:nth-child(3):hover > a {
  color: #fff;
}

#menu-wrap > ul > li:nth-child(3):hover > a > em {
  background-position: -40px 0;
}

#menu-wrap > ul > li:nth-child(3) > ul {
  position: absolute;
  height: 200px;
  width: 175px;
  top: 101px;
  left: 0;
  z-index: 1000;
}

#menu-wrap > ul > li:nth-child(3) > ul > li {
  width: 175px;
  height: 40px;
  position: relative;
}

#menu-wrap > ul > li:nth-child(3) > ul > li > ul {
  position: absolute;
  top: 0;
  left: 175px;
  width: 175px;
  z-index: 1100;
}

#menu-wrap > ul > li:nth-child(3) > ul > li > ul > li {
  width: 175px;
  height: 40px;
}

#menu-wrap > ul > li:nth-child(4) {
  width: 60px;
  height: 101px;
  line-height: 101px;
  text-align: center;
}

#menu-wrap > ul > li:nth-child(4) > a {
  color: #474747;
}

#menu-wrap > ul > li:nth-child(4) > a:hover {
  color: red;
}

#menu-wrap > ul > li:nth-child(5) {
  width: 120px;
  height: 101px;
  line-height: 101px;
  text-align: center;
}

#menu-wrap > ul > li:nth-child(5) > a {
  color: #474747;
}

#menu-wrap > ul > li:nth-child(5) > a:hover {
  color: red;
}

#menu-wrap > ul > li:nth-child(6) {
  width: 111.61px;
  height: 101px;
  line-height: 101px;
  text-align: center;
}

#menu-wrap > ul > li:nth-child(6) > a {
  color: #474747;
}

#menu-wrap > ul > li:nth-child(6) > a:hover {
  color: red;
}

#menu-wrap > ul > li:nth-child(7) {
  width: 60.75px;
  height: 101px;
  line-height: 101px;
  text-align: center;
}

#menu-wrap > ul > li:nth-child(7) > a {
  color: #474747;
}

#menu-wrap > ul > li:nth-child(7) > a:hover {
  color: red;
}

#menu-wrap > ul input:nth-last-child(1) {
  display: block;
  width: 260px;
  height: 41px;
  float: right;
  margin: 30px 0;
  outline-color: red;
}

#menu-wrap > ul input:nth-last-child(2) {
  display: block;
  width: 46px;
  height: 41px;
  float: right;
  margin: 30px 0;
  outline: none;
  border: none;
  background-image: url(../../img/indexi.image/search.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #c20315;
  cursor: pointer;
}

#menu-wrap > ul input:nth-last-child(2):hover {
  background-color: brown;
}

.banner {
  width: 100%;
  height: 439px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.banner .imgbox {
  width: 100%;
  height: 439px;
  position: relative;
  background-color: #222;
  overflow: hidden;
}

.banner .imgbox .img {
  position: absolute;
  display: none;
}

.banner .imgbox .im {
  display: block;
}

.banner .change {
  width: 47px;
  height: 80px;
  display: block;
  position: absolute;
  z-index: 20;
  opacity: .4;
  transition: .4s;
  top: 50%;
  margin-top: -50px;
}

.banner .change:hover {
  opacity: 1;
}

.banner .prev {
  background-image: url(../../img/indexi.image/base.png);
  background-repeat: no-repeat;
  background-position: 0 -20px;
  left: 19%;
}

.banner .next {
  background-image: url(../../img/indexi.image/base.png);
  background-repeat: no-repeat;
  background-position: -47px -20px;
  right: 19%;
}

.banner .cirbox {
  width: 88px;
  position: absolute;
  bottom: 30px;
  z-index: 10;
  left: 50%;
  margin-left: -44px;
  cursor: pointer;
}

.banner .cirbox .cir {
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: .4;
  float: left;
  border-radius: 6px;
  margin: 0 5px;
  cursor: pointer;
}

.banner .cirbox .cir .cir:hover {
  background-color: red;
}

.banner .cirbox .cr {
  background-color: red;
}

.banner .cirbox .cr .cr:hover {
  background-color: red;
}

.guanggao {
  width: 100%;
  height: 186px;
  background: white;
}

.guanggao > div {
  width: 1190px;
  height: 160px;
  margin: 0 auto;
  transform: translateY(-15px);
}

.guanggao > div::after {
  content: '';
  display: block;
  clear: both;
}

.guanggao > div > a {
  display: block;
  width: 386px;
  height: 160px;
  float: left;
  transition: all 0.5s;
}

.guanggao > div > a > img {
  display: block;
  width: 386px;
  height: 160px;
}

.guanggao > div > a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 2px #222;
}

.guanggao > div > a:nth-child(2) {
  margin: 0 16px;
}

.Dota2 {
  width: 100%;
  height: 727px;
  background: #ccc;
}

.Dota2 > div {
  margin: 0 auto;
  width: 1190px;
  height: 727px;
}

.Dota2 > div > div:nth-child(1) {
  height: 97px;
  width: 1190px;
}

.Dota2 > div > div:nth-child(1)::after {
  content: '';
  display: block;
  clear: both;
}

.Dota2 > div > div:nth-child(1) div {
  float: left;
}

.Dota2 > div > div:nth-child(1) > div:nth-child(1) {
  width: 241px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  text-indent: 40px;
  margin-top: 37px;
  background: url(../../img/indexi.image/48b55125-b9ab-41bf-a2cc-fa368dc368d6.jpg) no-repeat left center/35px 35px;
}

.Dota2 > div > div:nth-child(1) > div:nth-child(2) {
  width: 110px;
  height: 30px;
  border-bottom: 3px solid red;
  margin: 39px 600px 0 180px;
}

.Dota2 > div > div:nth-child(1) > div:nth-child(2) > a {
  width: 110px;
  height: 30px;
  display: block;
  color: red;
  font-size: 14px;
  text-align: center;
}

.Dota2 > div > div:nth-child(1) > div:nth-child(3) {
  width: 57px;
  height: 22px;
  margin-top: 40px;
}

.Dota2 > div > div:nth-child(1) > div:nth-child(3) > a {
  width: 57px;
  height: 22px;
  display: block;
  color: #666;
  font-size: 14px;
  line-height: 22px;
}

.Dota2 > div > div:nth-child(1) > div:nth-child(3) > a::after {
  content: '';
  display: block;
  clear: both;
}

.Dota2 > div > div:nth-child(1) > div:nth-child(3) > a > span {
  display: block;
  width: 22px;
  height: 22px;
  float: right;
  border-radius: 50%;
  background: url(../../img/indexi.image/base.png) no-repeat -89px 0;
}

.Dota2 > div > div:nth-child(1) > div:nth-child(3) > a:hover {
  color: red;
}

.Dota2 > div > div:nth-child(1) > div:nth-child(3) > a:hover > span {
  background: url(../../img/indexi.image/base.png) no-repeat -110px 0;
}

.Dota2 > div > div:nth-child(2) {
  width: 1190px;
  height: 630px;
}

.Dota2 > div > div:nth-child(2)::after {
  content: '';
  display: block;
  clear: both;
}

.Dota2 > div > div:nth-child(2) > div {
  float: left;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(1) {
  width: 226px;
  height: 614px;
  margin-right: 15px;
  background: url(../../img/indexi.image/93f67a9f-09aa-473a-9dda-da8add66db93.jpg) no-repeat 0 0/100% 100%;
  transition: all 0.5s;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(1):hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 2px #222;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) {
  width: 949px;
  height: 630px;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul {
  width: 949px;
  height: 630px;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul::after {
  content: '';
  display: block;
  clear: both;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li {
  width: 226px;
  height: 300px;
  float: left;
  background: white;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: all 0.5s;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li > p {
  font-size: 14px;
  text-align: center;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li > span {
  color: red;
  font-size: 14px;
  display: block;
  text-align: center;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li > a {
  display: block;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li > a > img {
  display: block;
  width: 100%;
  height: 100%;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 2px #222;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) {
  width: 467px;
  height: 300px;
  position: relative;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > a {
  width: 467px;
  height: 300px;
  background: url(../../img/indexi.image/7cef96d122b64cf7976e4233ef0bbc07.jpg) no-repeat 0 0/100% 100%;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .left {
  display: block;
  width: 35px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -35px;
  background: url(../../img/indexi.image/base.png) no-repeat -97px -20px;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .left:hover {
  background-color: #111;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .right {
  display: block;
  width: 35px;
  height: 70px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -35px;
  background: url(../../img/indexi.image/base.png) no-repeat -128px -20px;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .right:hover {
  background-color: #111;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .bottom {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -5px;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(2) > a {
  width: 160px;
  height: 160px;
  margin: 47px 33px 0 33px;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(3) {
  margin-right: 0;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(3) > a {
  width: 160px;
  height: 160px;
  margin: 47px 33px 0 33px;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(4) > a {
  width: 160px;
  height: 160px;
  margin: 47px 33px 0 33px;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(5) > a {
  width: 160px;
  height: 160px;
  margin: 47px 33px 0 33px;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(6) > a {
  width: 160px;
  height: 160px;
  margin: 47px 33px 0 33px;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(7) {
  margin-right: 0;
}

.Dota2 > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(7) > a {
  width: 160px;
  height: 160px;
  margin: 47px 33px 0 33px;
}

.dianjing {
  width: 100%;
  height: 727px;
  background: #ccc;
}

.dianjing > div {
  margin: 0 auto;
  width: 1190px;
  height: 727px;
}

.dianjing > div > div:nth-child(1) {
  height: 97px;
  width: 1190px;
}

.dianjing > div > div:nth-child(1)::after {
  content: '';
  display: block;
  clear: both;
}

.dianjing > div > div:nth-child(1) > div:nth-child(1) {
  float: left;
  width: 241px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  text-indent: 40px;
  margin-top: 37px;
  background: url(../../img/indexi.image/48b55125-b9ab-41bf-a2cc-fa368dc368d6.jpg) no-repeat left center/35px 35px;
}

.dianjing > div > div:nth-child(1) > div:nth-child(2) {
  float: right;
  width: 57px;
  height: 22px;
  margin-top: 40px;
}

.dianjing > div > div:nth-child(1) > div:nth-child(2) > a {
  width: 57px;
  height: 22px;
  display: block;
  color: #666;
  font-size: 14px;
  line-height: 22px;
}

.dianjing > div > div:nth-child(1) > div:nth-child(2) > a::after {
  content: '';
  display: block;
  clear: both;
}

.dianjing > div > div:nth-child(1) > div:nth-child(2) > a > span {
  display: block;
  width: 22px;
  height: 22px;
  float: right;
  border-radius: 50%;
  background: url(../../img/indexi.image/base.png) no-repeat -89px 0;
}

.dianjing > div > div:nth-child(1) > div:nth-child(2) > a:hover {
  color: red;
}

.dianjing > div > div:nth-child(1) > div:nth-child(2) > a:hover > span {
  background: url(../../img/indexi.image/base.png) no-repeat -110px 0;
}

.dianjing > div > div:nth-child(2) {
  width: 1190px;
  height: 630px;
}

.dianjing > div > div:nth-child(2)::after {
  content: '';
  display: block;
  clear: both;
}

.dianjing > div > div:nth-child(2) > div {
  float: left;
}

.dianjing > div > div:nth-child(2) > div:nth-child(1) {
  width: 226px;
  height: 614px;
  margin-right: 15px;
  transition: all 0.5s;
}

.dianjing > div > div:nth-child(2) > div:nth-child(1):hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 2px #222;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) {
  width: 949px;
  height: 630px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul {
  width: 949px;
  height: 630px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul::after {
  content: '';
  display: block;
  clear: both;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li {
  position: relative;
  width: 226px;
  height: 300px;
  float: left;
  background: white;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: all 0.5s;
  overflow: hidden;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > div {
  position: absolute;
  width: 226px;
  height: 90px;
  left: 0;
  bottom: -90px;
  background: rgba(0, 0, 0, 0.8);
  transition: transform 1s;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > div > a:nth-child(1) {
  display: block;
  width: 74px;
  height: 14px;
  margin: 10px auto;
  background: url(../../img/indexi.image/stars.png) no-repeat 0 -71px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > div > a:nth-child(2) {
  display: block;
  width: 216px;
  height: 47px;
  border: 1px solid white;
  margin: 5px auto;
  color: white;
  font-size: 18px;
  line-height: 47px;
  text-indent: 75px;
  position: relative;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > div > a:nth-child(2) > em {
  position: absolute;
  left: 50px;
  top: 50%;
  margin-top: -9px;
  display: block;
  width: 22px;
  height: 18px;
  background: url(../../img/indexi.image/base.png) no-repeat -184px -38px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > div > a:nth-child(2):hover {
  background-color: red;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > p {
  font-size: 14px;
  text-align: center;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > span {
  color: red;
  font-size: 14px;
  display: block;
  text-align: center;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > span del {
  font-size: 12px;
  color: #666;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > em {
  display: block;
  width: 25px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  color: #666;
  text-indent: 2px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > em::after {
  content: '';
  display: block;
  clear: both;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > em > i {
  font-style: normal;
  display: block;
  width: 13px;
  height: 13px;
  float: left;
  margin-top: 4px;
  background: url(../../img/indexi.image/base.png) no-repeat -132px 0;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > em:hover {
  color: red;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > em:hover > i {
  background: url(../../img/indexi.image/base.png) no-repeat -145px 0;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li > a {
  display: block;
  width: 160px;
  height: 160px;
  margin: 47px 33px 0 33px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 2px #222;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:hover > div {
  transform: translateY(-90px);
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1)::before {
  content: '96';
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  line-height: 52px;
  font-size: 24px;
  text-indent: 4px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1)::after {
  content: '折';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 40px;
  left: 53px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(2)::before {
  content: '97';
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  line-height: 52px;
  font-size: 24px;
  text-indent: 4px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(2)::after {
  content: '折';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 40px;
  left: 53px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(3)::before {
  content: '96';
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  line-height: 52px;
  font-size: 24px;
  text-indent: 4px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(3)::after {
  content: '折';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 40px;
  left: 53px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(4) {
  margin-right: 0;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(4)::before {
  content: '94';
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  line-height: 52px;
  font-size: 24px;
  text-indent: 4px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(4)::after {
  content: '折';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 40px;
  left: 53px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(7)::before {
  content: '97';
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  line-height: 52px;
  font-size: 24px;
  text-indent: 4px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(7)::after {
  content: '折';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 40px;
  left: 53px;
}

.dianjing > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(8) {
  margin-right: 0;
}

.youxizhoubian {
  width: 100%;
  height: 727px;
  background: #ccc;
}

.youxizhoubian > div {
  margin: 0 auto;
  width: 1190px;
  height: 727px;
}

.youxizhoubian > div > div:nth-child(1) {
  height: 97px;
  width: 1190px;
}

.youxizhoubian > div > div:nth-child(1)::after {
  content: '';
  display: block;
  clear: both;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(1) {
  float: left;
  width: 241px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  text-indent: 40px;
  margin-top: 37px;
  background: url(../../img/indexi.image/34074317-e65b-486d-acb4-d99972501b63.jpg) no-repeat left center/35px 35px;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(2) {
  float: right;
  width: 57px;
  height: 22px;
  margin-top: 40px;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(2) > a {
  width: 57px;
  height: 22px;
  display: block;
  color: #666;
  font-size: 14px;
  line-height: 22px;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(2) > a::after {
  content: '';
  display: block;
  clear: both;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(2) > a > span {
  display: block;
  width: 22px;
  height: 22px;
  float: right;
  border-radius: 50%;
  background: url(../../img/indexi.image/base.png) no-repeat -89px 0;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(2) > a:hover {
  color: red;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(2) > a:hover > span {
  background: url(../../img/indexi.image/base.png) no-repeat -110px 0;
}

.youxizhoubian > div > div:nth-child(2) {
  width: 1190px;
  height: 630px;
}

.youxizhoubian > div > div:nth-child(2)::after {
  content: '';
  display: block;
  clear: both;
}

.youxizhoubian > div > div:nth-child(2) > div {
  float: left;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(1) {
  width: 226px;
  height: 614px;
  margin-right: 15px;
  transition: all 0.5s;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(1):hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 2px #222;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) {
  width: 949px;
  height: 630px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul {
  width: 949px;
  height: 630px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul::after {
  content: '';
  display: block;
  clear: both;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li {
  position: relative;
  width: 226px;
  height: 300px;
  float: left;
  background: white;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: all 0.5s;
  overflow: hidden;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > div {
  position: absolute;
  width: 226px;
  height: 90px;
  left: 0;
  bottom: -90px;
  background: rgba(0, 0, 0, 0.8);
  transition: transform 1s;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > div > a:nth-child(1) {
  display: block;
  width: 74px;
  height: 14px;
  margin: 10px auto;
  background: url(../../img/indexi.image/stars.png) no-repeat 0 -71px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > div > a:nth-child(2) {
  display: block;
  width: 216px;
  height: 47px;
  border: 1px solid white;
  margin: 5px auto;
  color: white;
  font-size: 18px;
  line-height: 47px;
  text-indent: 75px;
  position: relative;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > div > a:nth-child(2) > em {
  position: absolute;
  left: 50px;
  top: 50%;
  margin-top: -9px;
  display: block;
  width: 22px;
  height: 18px;
  background: url(../../img/indexi.image/base.png) no-repeat -184px -38px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > div > a:nth-child(2):hover {
  background-color: red;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > p {
  font-size: 14px;
  text-align: center;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > span {
  color: red;
  font-size: 14px;
  display: block;
  text-align: center;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > span > del {
  font-size: 12px;
  color: #666;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > em {
  display: block;
  width: 25px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  color: #666;
  text-indent: 2px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > em::after {
  content: '';
  display: block;
  clear: both;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > em > i {
  font-style: normal;
  display: block;
  width: 13px;
  height: 13px;
  float: left;
  margin-top: 4px;
  background: url(../../img/indexi.image/base.png) no-repeat -132px 0;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > em:hover {
  color: red;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > em:hover > i {
  background: url(../../img/indexi.image/base.png) no-repeat -145px 0;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > a {
  display: block;
  width: 160px;
  height: 160px;
  margin: 47px 33px 0 33px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 2px #222;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:hover > div {
  transform: translateY(-90px);
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) {
  width: 467px;
  height: 300px;
  position: relative;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > a {
  margin: 0;
  width: 467px;
  height: 300px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .left {
  display: block;
  width: 35px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -35px;
  background: url(../../img/indexi.image/base.png) no-repeat -97px -20px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .left:hover {
  background-color: #111;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .right {
  display: block;
  width: 35px;
  height: 70px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -35px;
  background: url(../../img/indexi.image/base.png) no-repeat -128px -20px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .right:hover {
  background-color: #111;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .bottom {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 282px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(2)::before {
  content: '94';
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  line-height: 52px;
  font-size: 24px;
  text-indent: 4px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(2)::after {
  content: '折';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 40px;
  left: 53px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(3) {
  margin-right: 0;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(4) > a {
  background: url(../../img/indexi.image/cc88ffc2b6ae409ba67d7d2d7fb31d58_160.jpg) no-repeat 0 0/100% 100%;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(4)::before {
  content: '75';
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  line-height: 52px;
  font-size: 24px;
  text-indent: 4px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(4)::after {
  content: '折';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 40px;
  left: 53px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(5)::before {
  content: '售罄';
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #777;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  line-height: 52px;
  font-size: 16px;
  text-align: center;
  line-height: 52px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(6)::before {
  content: '45';
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  line-height: 52px;
  font-size: 24px;
  text-indent: 4px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(6)::after {
  content: '折';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 40px;
  left: 53px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(7) {
  margin-right: 0;
}

.footernav {
  height: 328px;
  width: 100%;
  background-color: white;
}

.footernav > div {
  width: 1190px;
  height: 328px;
  margin: 0 auto;
}

.footernav > div > div:nth-child(1) {
  width: 1190px;
  height: 90px;
}

.footernav > div > div:nth-child(1) > ul {
  width: 1190px;
  height: 90px;
  padding-top: 22.5px;
}

.footernav > div > div:nth-child(1) > ul > li {
  float: left;
  width: 295px;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  color: #999;
  text-indent: 150px;
  position: relative;
  border-right: 1px solid #ddd;
}

.footernav > div > div:nth-child(1) > ul > li:nth-child(1)::after {
  content: '';
  display: block;
  width: 45px;
  height: 45px;
  background: url(../../img/indexi.image/about.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  left: 100px;
}

.footernav > div > div:nth-child(1) > ul > li:nth-child(2)::after {
  content: '';
  display: block;
  width: 45px;
  height: 45px;
  background: url(../../img/indexi.image/about.png) no-repeat -45px 0;
  position: absolute;
  top: 0;
  left: 100px;
}

.footernav > div > div:nth-child(1) > ul > li:nth-child(3)::after {
  content: '';
  display: block;
  width: 45px;
  height: 45px;
  background: url(../../img/indexi.image/about.png) no-repeat -90px 0;
  position: absolute;
  top: 0;
  left: 100px;
}

.footernav > div > div:nth-child(1) > ul > li:nth-child(4) {
  border: none;
}

.footernav > div > div:nth-child(1) > ul > li:nth-child(4)::after {
  content: '';
  display: block;
  width: 45px;
  height: 45px;
  background: url(../../img/indexi.image/about.png) no-repeat -135px 0;
  position: absolute;
  top: 0;
  left: 100px;
}

.footernav > div > div:nth-child(1) > ul::after {
  content: '';
  display: block;
  clear: both;
}

.footernav > div > div:nth-child(2) {
  width: 1190px;
  height: 200px;
}

.footernav > div > div:nth-child(2)::after {
  content: '';
  display: block;
  clear: both;
}

.footernav > div > div:nth-child(2) > div {
  float: left;
  width: 296px;
  height: 200px;
  font-size: 14px;
}

.footernav > div > div:nth-child(2) > div:nth-child(1) > p {
  text-align: center;
  padding: 10px 0;
}

.footernav > div > div:nth-child(2) > div:nth-child(1) > a {
  text-align: center;
  width: 60px;
  display: block;
  margin: 0 auto;
  padding: 5px 0;
  font-size: 12px;
  color: #bbb;
}

.footernav > div > div:nth-child(2) > div:nth-child(1) > a:hover {
  color: red;
}

.footernav > div > div:nth-child(2) > div:nth-child(2) > p {
  text-align: center;
  padding: 10px 0;
}

.footernav > div > div:nth-child(2) > div:nth-child(2) > a {
  text-align: center;
  width: 60px;
  display: block;
  margin: 0 auto;
  padding: 5px 0;
  font-size: 12px;
  color: #bbb;
}

.footernav > div > div:nth-child(2) > div:nth-child(2) > a:hover {
  color: red;
}

.footernav > div > div:nth-child(2) > div:nth-child(3) > p {
  text-align: center;
  padding: 10px 0;
}

.footernav > div > div:nth-child(2) > div:nth-child(3) > a {
  text-align: center;
  width: 60px;
  display: block;
  margin: 0 auto;
  padding: 5px 0;
  font-size: 12px;
  color: #bbb;
}

.footernav > div > div:nth-child(2) > div:nth-child(3) > a:hover {
  color: red;
}

.footernav > div > div:nth-child(2) > div:nth-child(4) > p:nth-child(1) {
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
}

.footernav > div > div:nth-child(2) > div:nth-child(4) > p:nth-child(2) {
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
  color: #bbb;
}

.footernav > div > div:nth-child(2) > div:nth-child(4) > a:nth-of-type(1) {
  display: block;
  width: 156px;
  height: 37px;
  line-height: 37px;
  border: 1px solid red;
  border-radius: 2px;
  margin: 0 auto;
  text-indent: 60px;
  color: red;
  position: relative;
}

.footernav > div > div:nth-child(2) > div:nth-child(4) > a:nth-of-type(1) > span {
  position: absolute;
  top: 10px;
  left: 40px;
  display: block;
  width: 18px;
  height: 15px;
  background: url(../../img/indexi.image/base.png) no-repeat -189px 0;
}

.footernav > div > div:nth-child(2) > div:nth-child(4) > a:nth-of-type(1):hover {
  color: white;
  background-color: red;
}

.footernav > div > div:nth-child(2) > div:nth-child(4) > a:nth-of-type(1):hover > span {
  background: url(../../img/indexi.image/base.png) no-repeat -242px 0;
}

.footernav > div > div:nth-child(2) > div:nth-child(4) > a:nth-of-type(2) {
  text-align: center;
  width: 60px;
  display: block;
  margin: 0 auto;
  padding: 5px 0;
  font-size: 12px;
  color: #bbb;
}

.footernav > div > div:nth-child(2) > div:nth-child(4) > a:nth-of-type(2):hover {
  color: red;
}

footer {
  width: 100%;
  height: 180px;
  background: #ccc;
  padding-top: 10px;
}

footer > p:nth-child(1) {
  text-align: center;
  color: #eee;
  font-size: 12px;
  margin: 20px 0;
}

footer > p:nth-child(1) > a {
  color: #999;
  padding: 0 10px;
}

footer > p:nth-child(1) > a:hover {
  color: red;
}

footer > p:nth-child(2) {
  font-size: 12px;
  text-align: center;
  color: #aaa;
}

footer > p:nth-child(2) > a {
  color: black;
}

footer > p:nth-child(2) > a:hover {
  color: red;
}

footer > p:nth-child(3) {
  font-size: 12px;
  text-align: center;
  color: #aaa;
}

footer > div {
  width: 600px;
  height: 40px;
  margin: 20px auto;
  font-size: 0;
}

footer > div > img {
  width: 108px;
  height: 40px;
  margin-right: 15px;
}

footer > div > img:nth-last-child(1) {
  margin-right: 0;
}

.rightnav {
  position: fixed;
  top: 0;
  right: 0;
  width: 35px;
  height: 100%;
  background: black;
}

.rightnav > a {
  display: block;
  position: absolute;
  left: 0;
}

.rightnav > a:nth-child(1) {
  top: 350px;
  width: 35px;
  height: 35px;
  padding: 8.5px;
}

.rightnav > a:nth-child(1) > span {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../../img/indexi.image/base.png) no-repeat -228px -74px;
}

.rightnav > a:nth-child(1) > em {
  display: block;
  width: 85px;
  height: 35px;
  color: white;
  text-align: center;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: -150px;
  opacity: 0;
  transition: all 1s;
  background: url(../../img/indexi.image/base.png) no-repeat -95px -90px;
}

.rightnav > a:nth-child(1):hover {
  background: red;
}

.rightnav > a:nth-child(1):hover > em {
  left: -76px;
  opacity: 1;
}

.rightnav > a:nth-child(2) {
  top: 390px;
  width: 35px;
  height: 35px;
  padding: 8.5px;
}

.rightnav > a:nth-child(2) > span {
  display: block;
  width: 19px;
  height: 16px;
  background: url(../../img/indexi.image/base.png) no-repeat -228px -41px;
}

.rightnav > a:nth-child(2) > em {
  display: block;
  width: 85px;
  height: 35px;
  color: white;
  text-align: center;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: -150px;
  opacity: 0;
  transition: all 1s;
  background: url(../../img/indexi.image/base.png) no-repeat -95px -90px;
}

.rightnav > a:nth-child(2):hover {
  background: red;
}

.rightnav > a:nth-child(2):hover > em {
  left: -76px;
  opacity: 1;
}

.rightnav > a:nth-child(3) {
  top: 430px;
  width: 35px;
  height: 136px;
  color: white;
  font-size: 14px;
  padding: 6.5px;
  text-align: center;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.rightnav > a:nth-child(3) > span:nth-of-type(1) {
  display: block;
  width: 22px;
  height: 18px;
  background: url(../../img/indexi.image/base.png) no-repeat -162px -20px;
}

.rightnav > a:nth-child(3) > span:nth-of-type(2) {
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  color: white;
  background: red;
}

.rightnav > a:nth-child(3):hover {
  background: red;
}

.rightnav > a:nth-child(3):hover > span:nth-of-type(2) {
  background: black;
}

.rightnav > a:nth-child(3):hover > span:nth-of-type(1) {
  background: url(../../img/indexi.image/base.png) no-repeat -162px -37px;
}

.rightnav > a:nth-child(4) {
  top: 575px;
  width: 35px;
  height: 35px;
  padding: 8.5px;
}

.rightnav > a:nth-child(4) > span {
  display: block;
  width: 18px;
  height: 17px;
  background: url(../../img/indexi.image/base.png) no-repeat -228px -57px;
}

.rightnav > a:nth-child(4) > em {
  display: block;
  width: 85px;
  height: 35px;
  color: white;
  text-align: center;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: -150px;
  opacity: 0;
  transition: all 1s;
  background: url(../../img/indexi.image/base.png) no-repeat -95px -90px;
}

.rightnav > a:nth-child(4):hover {
  background: red;
}

.rightnav > a:nth-child(4):hover > em {
  left: -76px;
  opacity: 1;
}

.rightnav > a:nth-child(5) {
  top: 900px;
  width: 35px;
  height: 35px;
  color: white;
  font-size: 14px;
  text-align: center;
}

.rightnav > a:nth-child(5)::before {
  content: '';
  display: block;
  width: 18px;
  height: 8px;
  margin: 0 auto;
  background: url(../../img/indexi.image/base.png) no-repeat -232px -21px;
}

.rightnav > a:nth-child(5):hover {
  background: red;
}

.login {
  border: 1px solid #ccc;
  background: white;
  text-align: center;
  width: 367px;
  height: 350px;
  position: fixed;
  top: 300px;
  left: 50%;
  margin-left: -250px;
  z-index: 1000;
  display: none;
}

.login > p {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.login > p > span {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.login > input {
  width: 300px;
  height: 50px;
  border: 1px solid #ccc;
}

.login > input:nth-of-type(3) {
  width: 100px;
  background: blue;
  color: white;
  font-size: 22px;
  border: none;
}

.xiaoshi {
  display: none;
}

.chuxian {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

em {
  font-style: normal;
}

.gouwuxuanting {
  width: 350px;
  height: 105px;
  background-color: #eee;
  line-height: 105px;
  text-align: center;
  position: absolute;
  right: 356.5px;
  color: black;
  z-index: 1000;
  display: none;
  font-size: 12px;
}
