.banner {
  width: 100%;
  height: 439px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.banner .imgbox {
  width: 100%;
  height: 439px;
  position: relative;
  background-color: #222;
  overflow: hidden;
}

.banner .imgbox .img {
  position: absolute;
  display: none;
}

.banner .imgbox .im {
  display: block;
}

.banner .change {
  width: 47px;
  height: 80px;
  display: block;
  position: absolute;
  z-index: 20;
  opacity: .4;
  transition: .4s;
  top: 50%;
  margin-top: -50px;
}

.banner .change:hover {
  opacity: 1;
}

.banner .prev {
  background-image: url(../../img/indexi.image/base.png);
  background-repeat: no-repeat;
  background-position: 0 -20px;
  left: 19%;
}

.banner .next {
  background-image: url(../../img/indexi.image/base.png);
  background-repeat: no-repeat;
  background-position: -47px -20px;
  right: 19%;
}

.banner .cirbox {
  width: 88px;
  position: absolute;
  bottom: 30px;
  z-index: 10;
  left: 50%;
  margin-left: -44px;
  cursor: pointer;
}

.banner .cirbox .cir {
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: .4;
  float: left;
  border-radius: 6px;
  margin: 0 5px;
  cursor: pointer;
}

.banner .cirbox .cir .cir:hover {
  background-color: red;
}

.banner .cirbox .cr {
  background-color: red;
}

.banner .cirbox .cr .cr:hover {
  background-color: red;
}
