@charset "UTF-8";
.youxizhoubian {
  width: 100%;
  height: 727px;
  background: #ccc;
}

.youxizhoubian > div {
  margin: 0 auto;
  width: 1190px;
  height: 727px;
}

.youxizhoubian > div > div:nth-child(1) {
  height: 97px;
  width: 1190px;
}

.youxizhoubian > div > div:nth-child(1)::after {
  content: '';
  display: block;
  clear: both;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(1) {
  float: left;
  width: 241px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  text-indent: 40px;
  margin-top: 37px;
  background: url(../../img/indexi.image/34074317-e65b-486d-acb4-d99972501b63.jpg) no-repeat left center/35px 35px;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(2) {
  float: right;
  width: 57px;
  height: 22px;
  margin-top: 40px;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(2) > a {
  width: 57px;
  height: 22px;
  display: block;
  color: #666;
  font-size: 14px;
  line-height: 22px;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(2) > a::after {
  content: '';
  display: block;
  clear: both;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(2) > a > span {
  display: block;
  width: 22px;
  height: 22px;
  float: right;
  border-radius: 50%;
  background: url(../../img/indexi.image/base.png) no-repeat -89px 0;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(2) > a:hover {
  color: red;
}

.youxizhoubian > div > div:nth-child(1) > div:nth-child(2) > a:hover > span {
  background: url(../../img/indexi.image/base.png) no-repeat -110px 0;
}

.youxizhoubian > div > div:nth-child(2) {
  width: 1190px;
  height: 630px;
}

.youxizhoubian > div > div:nth-child(2)::after {
  content: '';
  display: block;
  clear: both;
}

.youxizhoubian > div > div:nth-child(2) > div {
  float: left;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(1) {
  width: 226px;
  height: 614px;
  margin-right: 15px;
  transition: all 0.5s;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(1):hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 2px #222;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) {
  width: 949px;
  height: 630px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul {
  width: 949px;
  height: 630px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul::after {
  content: '';
  display: block;
  clear: both;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li {
  position: relative;
  width: 226px;
  height: 300px;
  float: left;
  background: white;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: all 0.5s;
  overflow: hidden;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > div {
  position: absolute;
  width: 226px;
  height: 90px;
  left: 0;
  bottom: -90px;
  background: rgba(0, 0, 0, 0.8);
  transition: transform 1s;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > div > a:nth-child(1) {
  display: block;
  width: 74px;
  height: 14px;
  margin: 10px auto;
  background: url(../../img/indexi.image/stars.png) no-repeat 0 -71px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > div > a:nth-child(2) {
  display: block;
  width: 216px;
  height: 47px;
  border: 1px solid white;
  margin: 5px auto;
  color: white;
  font-size: 18px;
  line-height: 47px;
  text-indent: 75px;
  position: relative;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > div > a:nth-child(2) > em {
  position: absolute;
  left: 50px;
  top: 50%;
  margin-top: -9px;
  display: block;
  width: 22px;
  height: 18px;
  background: url(../../img/indexi.image/base.png) no-repeat -184px -38px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > div > a:nth-child(2):hover {
  background-color: red;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > p {
  font-size: 14px;
  text-align: center;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > span {
  color: red;
  font-size: 14px;
  display: block;
  text-align: center;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > span > del {
  font-size: 12px;
  color: #666;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > em {
  display: block;
  width: 25px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  color: #666;
  text-indent: 2px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > em::after {
  content: '';
  display: block;
  clear: both;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > em > i {
  font-style: normal;
  display: block;
  width: 13px;
  height: 13px;
  float: left;
  margin-top: 4px;
  background: url(../../img/indexi.image/base.png) no-repeat -132px 0;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > em:hover {
  color: red;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > em:hover > i {
  background: url(../../img/indexi.image/base.png) no-repeat -145px 0;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li > a {
  display: block;
  width: 160px;
  height: 160px;
  margin: 47px 33px 0 33px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 2px #222;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:hover > div {
  transform: translateY(-90px);
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) {
  width: 467px;
  height: 300px;
  position: relative;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > a {
  margin: 0;
  width: 467px;
  height: 300px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .left {
  display: block;
  width: 35px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -35px;
  background: url(../../img/indexi.image/base.png) no-repeat -97px -20px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .left:hover {
  background-color: #111;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .right {
  display: block;
  width: 35px;
  height: 70px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -35px;
  background: url(../../img/indexi.image/base.png) no-repeat -128px -20px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .right:hover {
  background-color: #111;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > .bottom {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 282px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(2)::before {
  content: '94';
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  line-height: 52px;
  font-size: 24px;
  text-indent: 4px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(2)::after {
  content: '折';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 40px;
  left: 53px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(3) {
  margin-right: 0;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(4) > a {
  background: url(../../img/indexi.image/cc88ffc2b6ae409ba67d7d2d7fb31d58_160.jpg) no-repeat 0 0/100% 100%;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(4)::before {
  content: '75';
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  line-height: 52px;
  font-size: 24px;
  text-indent: 4px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(4)::after {
  content: '折';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 40px;
  left: 53px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(5)::before {
  content: '售罄';
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #777;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  line-height: 52px;
  font-size: 16px;
  text-align: center;
  line-height: 52px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(6)::before {
  content: '45';
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  line-height: 52px;
  font-size: 24px;
  text-indent: 4px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(6)::after {
  content: '折';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 40px;
  left: 53px;
}

.youxizhoubian > div > div:nth-child(2) > div:nth-child(2) > ul > li:nth-child(7) {
  margin-right: 0;
}
